body{
    font-family: "Arial";
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1{
    color: blueviolet;
}

header a{
    background-color: blueviolet;
    color: white;
    font-size: 15px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px 30px 5px 30px;
}

li{
    font-size: 20px;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    border: blueviolet 2px solid;
}

.post img{
    width: 70%;
}